@include md {
  .cursor {
    position: fixed;
    z-index: 100;
    background-color: red;
    width: 10px;
    height: 10px;
    left: -5px;
    top: -5px;
    border-radius: 100%;
    user-select: none;
    pointer-events: none;

    &.active {
      opacity: 0;
    }
  }
}
