html {
  font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
  min-width: 320px;
  background-color: #fff;
  touch-action: manipulation;
  // cursor: none;

  @include md {
    overflow: hidden;
  }
}

a {
  display: inline-block;
}
