.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline-block {
  display: inline-block !important;
}

@include sm {
  .d-sm-none {
    display: none !important;
  }

  .d-sm-block {
    display: block !important;
  }

  .d-sm-inline-block {
    display: inline-block !important;
  }
}

@include md {
  .d-md-none {
    display: none !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-inline-block {
    display: inline-block !important;
  }
}

@include lg {
  .d-lg-none {
    display: none !important;
  }

  .d-lg-block {
    display: block !important;
  }

  .d-lg-inline-block {
    display: inline-block !important;
  }
}

@include xl {
  .d-xl-none {
    display: none !important;
  }

  .d-xl-block {
    display: block !important;
  }

  .d-xl-inline-block {
    display: inline-block !important;
  }
}

@include xxl {
  .d-xxl-none {
    display: none !important;
  }

  .d-xxl-block {
    display: block !important;
  }

  .d-xxl-inline-block {
    display: inline-block !important;
  }
}
