.showcase {
  /* background: rgb(255, 0, 0); */
  /* max-height: 500px; */
  /* height: 1000px; */
  z-index: 11;
  margin: 10em 0em;
  /* background: #000; */
  /* color: #fff; */
}

.showcase-container{
  background: inherit;
  display: flex;
}

.showcase-content{
  /* background: rgb(160, 120, 120); */
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Bebas Neue', cursive;
  margin: 35vh 0 0 0;
}
.showcase-content h2{
  font-size: 3em;
  /* padding: 30px 20px; */
  font-weight: 400;}

.showcase-content a { 
  font-size: 1.5em;
    padding: 20px 0;
    text-decoration: underline;
    /* background: rgb(255, 0, 0); */
    color: rgb(255, 255, 255);
    width: fit-content;
    font-weight: 400;
    cursor: pointer;
  }
  .darkmode--activated .showcase-content a {color: #000;}
  
  .showcase-content a:hover{
    /* padding: 20px 20px; */
    text-decoration: none;
    transform: translate(-1px,1px) scale(97%);
    transition: all 500ms ease-out;
  }


.showcase-main{
  /* background: rgb(192, 192, 212); */
  width: 50%;
  position: relative;
  margin: 0 0 19em 0;
}
.showcase-main .mainImg{
  /* transform: translateY(-200px); */
  position: absolute;
  /* bottom:100%;
  left: 0%; */
  height: 700px; 
  cursor: pointer;
}


/* .showcase-main .mainImg::after{
  position: fixed;
  content: '';
  top: 0vw;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.541);
  display: block;
} */

.showcase-main:hover .subImg{
  z-index: -15;
  opacity: 0;

}


  
   

/* Circle */
.mainImg a {
  display: block;
	position: relative;
  height: 100%;
  width: 100%;
}
.mainImg a::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0%;
	height: 0%;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	/* -webkit-transform: translate(-50%, -50%); */
	transform: translate(-50%, -50%);
	opacity: 0;
}
.mainImg a:hover::before {
	-webkit-animation: circle .75s;
	animation: circle .75s;
}

.showcase-main .subImg{ 
  position: absolute;
  /* top: 0%; */
  margin: 20em 0 0 0;
  left: -5%;
}

.showcase-main .subImg:hover{
  z-index: -1;
}




.showcase-main .mainImg img{
  
  /* position: absolute; */
  /* top:0%; */
  /* left: 0%; */
  /* height: 700px; */
  /* max-width: 700px; */
  width: 100%;
  /* object-fit:  cover; */
  box-shadow: 0 0 10px #fff;
  background: inherit; 
  margin: 5em 0 -400px 0;
}

body.darkmode--activated .showcase-main .mainImg img{
  box-shadow: 0 0 15px #000; 
}
.showcase-main .subImg img{
  height: 400px;
  max-width: 500px;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px #fff;
}
body.darkmode--activated .showcase-main .subImg img{
  box-shadow: 0 0 15px #000; 
}

@media(max-width:1000px){ 
  .showcase, .showcase-content{
    margin: 0;
  }
.showcase-main .subImg{  
  margin:  0;
}
  .showcase-main .subImg img{

  margin: 0em 0 00px 0;
  }
}
@media(max-width:768px){
.showcase {
  margin:  20em 5em;
}
.showcase-container{
  flex-direction: column;
}
.showcase-content, .showcase-main{
  width: 100%;
}
.showcase-main .mainImg{
  width: 75%;
  margin-left: 9em;
}
.showcase-main .mainImg img{ 
  margin: 3em 0 0px 0;
}
.showcase-main .subImg{
  /* margin-right: 2em; */
  width: 75%;
}
}

@media(max-width:576px){
  .showcase{
    margin: 2em 1em 0 1em;
  }
.showcase-main .subImg{
display: none;}

.showcase-main .mainImg{
  width: 75%;
  margin: 0;
  }
}


/* @-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
} */
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 150%;
		height: 150%;
		opacity: 0;
	}
}